<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked" data-hook="admin_maintain_side_tab">
    <li<%== ' class="active"' if current == :menu %>>
      <%= link_to_with_icon 'user', Spree.t(:menu), spree.admin_drop_downs_path %>
    </li>
    <li<%== ' class="active"' if current == :page %>>
      <%= link_to_with_icon 'user', Spree.t(:pages), spree.admin_maintainable_pages_path %>
    </li>
  </ul>
<% end %>
